
/* # fonts  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

/* # variables */
:root {
  --color-primary: hsl(36, 55%, 60%);
  --color-primary-dark:hsl(36, 50%, 23%); 

  --color-text: hsla(0, 0%, 100%, 0.95); 
  --color-text-2: hsla(0, 0%, 100%, 0.75);

  --color-bg: hsl(36, 7%, 11%);
  --color-bg-2: hsl(36, 7%, 15%);
  --color-bg-alpha-60: hsla(0, 0%, 0%, 0.6);

  --color-border: hsla(0, 0%, 100%, 0.15);
  --color-border-2: hsla(0, 0%, 100%, 0.08);
  --color-border-dark: hsla(0, 0%, 0%, 0.15);

  /* scrollbar */
  --color-scrollbar-track: hsl(0, 0%, 21%);
  --color-scrollbar-thumb: hsl(0, 0%, 53%);

  /* font size */
  --fs-body: 16px;
  --fs-lg: 20px;
  --fs-xl: 24px;
  --fs-2xl: 31px;
  --fs-3xl: 40px;
  --fs-4xl: 54px;


  /* padding */
  --section-pt: 80px;
  --section-pb: 80px;
}
/* # base */
html{
  scroll-behavior: smooth;
  scroll-padding-top: 30px;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::before,
::after{
  box-sizing: border-box;
}
body{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: var(--fs-body);
  color: var(--color-text-2);
  background-color: var(--color-bg);
  line-height: 1.2;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6{
  line-height: 1.2;
  color: var(--color-text);
}
a{
  text-decoration: none;
  color:var(--color-primary);
}
img{
  max-width: 100%;
  vertical-align: middle;
}
ul{
  list-style: none;
}
p + p{
  margin-top: 15px;
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  background-color: var(--color-scrollbar-track);
}
::-webkit-scrollbar-thumb{
  background-color: var(--color-scrollbar-thumb);
}
button{
  cursor: pointer;
  font: inherit;
}
input,
textarea,
select{
  width: 100%;
  height: 54px;
  border: 1px solid var(--color-border);
  background-color: tranparent;
  border-radius: 10px;
  font: inherit;
  padding: 0 15px;
  outline: none;
  color: var(--color-text);
}
textarea{
  display: block;
  padding-top: 15px;
  resize: none;
}
::placeholder{
  color: var(--color-text-2);
  opacity: 1;
}
/* # page Wrapper */
.page-wrapper{
  overflow: hidden;
}
/* # container */
.container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}
/* # animation on scroll */
/* # section header */
/* # btn */
/* # tabs */
/* # preloader */
/* # header */
.header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 22px 0;
  transition: background-color 0.6s;
}
.header-bg{
  background-color: var(--color-bg-alpha-60);
}
.header-bg-::before{
  content: '';
  position: absolute;
  inset: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: -1;
}
.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo span{
  max-width: 125px;
}
.header .menu-btn{
  display: none;
}
.header .menu li{
  display: inline-block;
}
.header .menu li:not(:las-child){
  margin-right: 40px;
}
.header .menu a{
  color: var(--color-text);
  text-transform: capitalize;
  display: block;
  transition: color 0.3s;
}
.header .menu a:hover{
  color: var(--color-primary);
}
/* # footer */
/* # hero */
.hero{
  position: relative;
  padding: 260px 0;
}
.hero-bg{
  position: absolute;
  inset: 0;
  background: url('../img/hero-bg.jpg') center/cover;
  filter: brightness(0.25);
  z-index: -1;
}
.hero .container{
  max-width: 800px;
  text-align: center;
}
.hero p{
  color: var(--color-text);
  text-tranform: uppercase;
  font-size: var(--fs-lg);
}
.hero h1{
  font-size: var(--fs-4x1);
  text-transform: capitalize;
  margin-top: 15px;
}
.hero-btn-wrapper{
  margin-top: 30px;
}
/* # about */
/* # stats */
/* # rest-menu */
/* # team */
/* # Testimonials */
/* # timing */
/* # contact */

